@inherits WindowBase

<TelerikWindow @ref="@WindowRef">
  <WindowActions>
    <WindowAction Name="Close" OnClick="@Close" />
  </WindowActions>
  <WindowTitle>Test window</WindowTitle>
  <WindowContent>
    <div style="padding:20px">
      <h3>Test</h3>
      <p>Not much to see here, move along</p>
    </div>
  </WindowContent>
</TelerikWindow>

@code {

  public const string WindowTitle = "Window for testing";

  protected override async Task OnParametersSetAsync() =>
    Console.WriteLine($"Test.OnParametersSetAsync - {DateTime.Now.ToLongTimeString()}");

}